.DS_Store
*.aux
*.log
*.synctex.gz
*.toc
*.out
0084_CW1/candidate-passages-top1000.tsv
0084_CW1/passage-collection.txt
0084_CW1/test-queries.tsv
*.txt
0084_CW1/assets/Keep_stop_words.png
0084_CW1/assets/remove_stop_words.png
